body {
  background-color: rgb(222, 218, 218);
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  header {
    background-color: #fff;
    color: #000000;
    padding-top: 5px;
   
    margin-bottom: 25px;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

 .box {
  width: 400px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
;
  display: flex;
  flex-direction: column;
}

.date {
  color: #777777;
  font-size: small;
  position: relative;
  top: -45px;
  margin-left: auto;
 }

  .box img {
    width: 100%;
    height: auto;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  .p {
  margin: 5px;
  font-size: medium;
  }